
.splide__arrow{
    background: #1681B6 !important;
}
.splide__arrow--prev, .splide__arrow--next{
    position: absolute;
    top: 90% !important;

}
.splide__arrow--prev{
    left: 40px !important;
}
.splide__arrow--next{
    left: 80px !important;
}
.splide__arrow svg {
    fill: white !important;
}