.planningmaindiv{
    background: rgba(255, 255, 255, 0.582);
}
.planningmaindiv:hover{
background: white;
}
.planningmaindiv:hover  .planninglastdiv{
    background: #1CA0E3;
    color: white;
    transition: all linear 0.3s;
}